.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  border: 1px solid black;
  padding: 1%;

  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  .image {
    width: 90%;
    height: 85%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 25px;
      color: rgb(36, 49, 170);
    }

    .price {
      width: 10%;
      color: #fff;
    }
  }
}
