.contact {
  display: flex;
  justify-content: space-around;
  color: #0499aa;
}

.contact-page {
  width: 380px;
}

.social-icon {
  margin-right: 1em;
  font-size: 2em;
  &:hover {
    transform: scale(1.2);
  }
}
