.cart-icon {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #465052;

  padding: 15px;
  border-radius: 50%;

  .shopping-icon {
    width: 200px;
    height: 200px;
    color: #fff;
    margin-right: 5px;
  }

  span {
    background-color: #0499aa;
    color: #b0e3e9;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 0px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
